Customary.Tests/bin/Debug/Customary.dll
Customary.Tests/bin/Debug/Customary.pdb
Customary.Tests/bin/Debug/Customary.Tests.dll
Customary.Tests/bin/Debug/Customary.Tests.dll.config
Customary.Tests/bin/Debug/Customary.Tests.pdb
Customary.Tests/bin/Debug/de/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/de/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/de/System.Spatial.resources.dll
Customary.Tests/bin/Debug/DotNetOpenAuth.AspNet.dll
Customary.Tests/bin/Debug/DotNetOpenAuth.AspNet.xml
Customary.Tests/bin/Debug/DotNetOpenAuth.Core.dll
Customary.Tests/bin/Debug/DotNetOpenAuth.Core.xml
Customary.Tests/bin/Debug/DotNetOpenAuth.OAuth.Consumer.dll
Customary.Tests/bin/Debug/DotNetOpenAuth.OAuth.Consumer.xml
Customary.Tests/bin/Debug/DotNetOpenAuth.OAuth.dll
Customary.Tests/bin/Debug/DotNetOpenAuth.OAuth.xml
Customary.Tests/bin/Debug/DotNetOpenAuth.OpenId.dll
Customary.Tests/bin/Debug/DotNetOpenAuth.OpenId.RelyingParty.dll
Customary.Tests/bin/Debug/DotNetOpenAuth.OpenId.RelyingParty.xml
Customary.Tests/bin/Debug/DotNetOpenAuth.OpenId.xml
Customary.Tests/bin/Debug/EntityFramework.dll
Customary.Tests/bin/Debug/EntityFramework.xml
Customary.Tests/bin/Debug/es/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/es/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/es/System.Spatial.resources.dll
Customary.Tests/bin/Debug/fr/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/fr/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/fr/System.Spatial.resources.dll
Customary.Tests/bin/Debug/it/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/it/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/it/System.Spatial.resources.dll
Customary.Tests/bin/Debug/ja/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/ja/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/ja/System.Spatial.resources.dll
Customary.Tests/bin/Debug/ko/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/ko/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/ko/System.Spatial.resources.dll
Customary.Tests/bin/Debug/Microsoft.Data.Edm.dll
Customary.Tests/bin/Debug/Microsoft.Data.Edm.xml
Customary.Tests/bin/Debug/Microsoft.Data.OData.dll
Customary.Tests/bin/Debug/Microsoft.Data.OData.xml
Customary.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
Customary.Tests/bin/Debug/Microsoft.Web.Mvc.FixedDisplayModes.dll
Customary.Tests/bin/Debug/Microsoft.Web.WebPages.OAuth.dll
Customary.Tests/bin/Debug/Microsoft.Web.WebPages.OAuth.xml
Customary.Tests/bin/Debug/Newtonsoft.Json.dll
Customary.Tests/bin/Debug/Newtonsoft.Json.xml
Customary.Tests/bin/Debug/ru/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/ru/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/ru/System.Spatial.resources.dll
Customary.Tests/bin/Debug/System.Net.Http.Formatting.dll
Customary.Tests/bin/Debug/System.Net.Http.Formatting.xml
Customary.Tests/bin/Debug/System.Spatial.dll
Customary.Tests/bin/Debug/System.Spatial.xml
Customary.Tests/bin/Debug/System.Web.Helpers.dll
Customary.Tests/bin/Debug/System.Web.Helpers.xml
Customary.Tests/bin/Debug/System.Web.Http.dll
Customary.Tests/bin/Debug/System.Web.Http.OData.dll
Customary.Tests/bin/Debug/System.Web.Http.OData.xml
Customary.Tests/bin/Debug/System.Web.Http.WebHost.dll
Customary.Tests/bin/Debug/System.Web.Http.WebHost.xml
Customary.Tests/bin/Debug/System.Web.Http.xml
Customary.Tests/bin/Debug/System.Web.Mvc.dll
Customary.Tests/bin/Debug/System.Web.Mvc.xml
Customary.Tests/bin/Debug/System.Web.Optimization.dll
Customary.Tests/bin/Debug/System.Web.Razor.dll
Customary.Tests/bin/Debug/System.Web.Razor.xml
Customary.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
Customary.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
Customary.Tests/bin/Debug/System.Web.WebPages.dll
Customary.Tests/bin/Debug/System.Web.WebPages.Razor.dll
Customary.Tests/bin/Debug/System.Web.WebPages.Razor.xml
Customary.Tests/bin/Debug/System.Web.WebPages.xml
Customary.Tests/bin/Debug/zh-Hans/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/zh-Hans/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/zh-Hans/System.Spatial.resources.dll
Customary.Tests/bin/Debug/zh-Hant/Microsoft.Data.Edm.resources.dll
Customary.Tests/bin/Debug/zh-Hant/Microsoft.Data.OData.resources.dll
Customary.Tests/bin/Debug/zh-Hant/System.Spatial.resources.dll
