@model Custom.Models.Page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Styles/ext/css/ext-all.css")
    @*Styles.Render("~/Styles/Ext.css?theme=neptune")*@
    @Scripts.Render("~/Scripts/ext-all.js")
</head>
<body>
    @RenderBody()
</body>
</html>
