<!doctype html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" data-ng-autobind="True" src="http://code.angularjs.org/angular.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/adapter.js")" data-framework="Angular" data-main="@Url.Content("~/Scripts/Angular/main.js")"></script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
