<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Customary-20130814124214;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Customary-20130814124214.mdf" providerName="System.Data.SqlClient" />
  <add name="Globalization" connectionString="DataDir=~\App_Data\Globalization" />
  <add name="Masterdata" connectionString="DataDir=~\App_Data\Masterdata" />
  <add name="Metadata" connectionString="DataDir=~\App_Data\Metadata" />
  <add name="Navigation" connectionString="DataDir=~\App_Data\Navigation" />
</connectionStrings>