@model dynamic
<ul data-ng-controller="MessageController">
    <li class="y-class: msg.type;" data-ng-repeat="msg in item.children">{{msg.text}}</li>
</ul>
<span data-ng-pluralize="True" data-count="count" data-when="i18n.messageCount">
</span>
