@model System.Collections.Generic.IDictionary<string, object>
@{
    ViewBag.Title = "Test Logger";
}

<h2>Test Logger</h2>
<ul>
    @foreach (var pair in Model)
    {
        <li><strong>@pair.Key:</strong><span>@pair.Value</span></li>
    }
</ul>

